# Ignore Android Studio specific files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/misc.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/appInsightsSettings.xml
/.idea/migrations.xml
/.idea/deploymentTargetSelector.xml
/.idea/runConfigurations.xml
/.idea/kotlinc.xml

# Ignore sensitive and local configuration files
google-services.json
local.properties

# Ignore build artifacts and outputs
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Miscellaneous
*.log
*.keystore
*.jks
